<% content_for :head do%>

  <%= stylesheet_link_tag 'droppedItems/note.css' %>
  <%= stylesheet_link_tag 'index.css' %>
  <%= stylesheet_link_tag 'contextMenu/jquery.contextmenu.css' %>
  <%= stylesheet_link_tag '3rd party/datatables.css' %>
  <%= stylesheet_link_tag 'piro/style/style', :media => 'screen', :title => 'black'%>
  
  
  <%#= javascript_include_tag "3rd party/jquery/ui/", :all, :recursive => true %>
  <%= javascript_include_tag "3rd party/jquery/jquery-ui-1.8.6.custom.min.js" %>
  <%#= javascript_include_tag "3rd party/jquery/jqDnR/jqDnR.js" %>

  <%= javascript_include_tag "3rd party/Base.js" %>
  <%= javascript_include_tag "3rd party/hash.js" %>
  <%= javascript_include_tag "3rd party/jquery/jquery.contextmenu-r2.js" %>
  <%= javascript_include_tag '3rd party/jquery/piro/pirobox.js'%>
  <%= javascript_include_tag '3rd party/jquery/jquery.dataTables.min.js'%>

  <%= javascript_include_tag "ofdApplication.js" %>
  <%= javascript_include_tag "ofdSystem.js" %>
  <%= javascript_include_tag "office/index.js" %>
  <%= javascript_include_tag "DroppedItems/ofdCustomItem.js" %>
  <%= javascript_include_tag "DroppedItems/ofdNote.js" %>

<% end %>


<div id="odTableTop">
  <div id="header">
    <p class="item">
      <img src="images/index/logo.png" alt="OfficeDesk" class="logo"/>
    </p>
    <p class="item menu">Minha Conta</p>
    <p class="item menu"><a href="#" class="pirobox">Lixeira</a></p>
    <p class="item menu"><%= link_to "Sair", :controller => "usuarios", :action => "logout" %></p>
  </div>
  
  <!--div id="right_menu">
    <a id="note" class="menuItem" href="#"></a>
    <a id="cal" class="menuItem" href="#"></a>
    <a id="address" class="menuItem" href="#"></a>
    <a id="text" class="menuItem" href="#"></a>
    <a id="trash" class="menuItem" href="#"></a>
  </div-->

  <div class="contextMenu" id="divContextMenu">
    <ul>
      <li id="novaNota">Novo Lembrete</li>     
    </ul>

  </div>

</div>




<script type="text/javascript">

   $().ready(function(){

     initialization();
     //SetupRightMenu();
     preparaPirobox();
     showNotes();

   });

   function preparaPirobox(){

     function onShow(){
             $.ajax({
                      type: 'GET',
                      url: 'note/view_trash',
                      async: true,
                      success: function(data){

                        $('#trashListTable').html(data);
                        drawTrashListTable();

                      },
                      error: function(XMLHttpRequest, textStatus, errorThrow){
                            raiseException('Ocorreu o seguinte erro ao listar a lixeira: ' + errorThrow);

                      }
                    });


     }


     try{
       var viewTrash = '<%=(render "note/viewTrash").gsub("\n", "") %>';
       setPirobox(viewTrash, onShow);
     }catch(e){
       raiseException(e);
     }
   }

   function showNotes(){
     function loadObjects(){
       <% @note.each do |n| %>
         <%="NewNote( #{n.posX}, #{n.posY}, \"#{n.conteudo.gsub("\n", "<br />")}\", #{n.width}, #{n.height}, false, true, \"#{n.UUID}\" );"%>
       <% end %>
     }

      window.setTimeout(loadObjects(),4000);
   }

   function removeNote(id){
     
     $.ajax({
              type: 'POST',
              async: true,
              data: ({
                 'note':{
                          'id': id
                        }  
                      }),

              url: '<%= url_for( :controller => :note, :action => :remove )%>',

              success: function(data){
                         if (data === 'Ok'){
                            $('#tr_' + id).fadeOut("fast",function(){
                              $('#trashListTable').dataTable().fnDestroy();
                              $(this).remove();
                              drawTrashListTable();
                            });
                            
                           
                         }
              },

              error: function(XMLHttpRequest, textStatus, errorThrow){
                    raiseException('Ocorreu o seguinte erro ao salvar : ' + errorThrow);
              }

     });
   }

   function recycleNote(id){
     $.ajax({
              type: 'POST',
              async: true,
              data: ({
                 'note':{
                          'id': id
                        }
                      }),

              url: '<%= url_for( :controller => :note, :action => :recycle )%>',

              success: function(data){

                         $('#tr_' + id).fadeOut("fast",function(){
                            var func = '';
                            func = 'try{';
                            func += data;
                            func += '}catch(e){';
                            func += '  raiseException(e);';
                            func += '}';
                            eval(func);
                            
                            $('#trashListTable').dataTable().fnDestroy();
                            $(this).remove();
                            drawTrashListTable();

                         });

              },

              error: function(XMLHttpRequest, textStatus, errorThrow){
                    raiseException('Ocorreu o seguinte erro ao salvar : ' + errorThrow);
              }

     });
   }

   function drawTrashListTable(){
        $('#trashListTable').dataTable({
            "bPaginate": true,
            "sPaginationType": "full_numbers",
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "iDisplayLength": 15,
            "oLanguage": {
                    "sLengthMenu": "Display _MENU_ records per page",
                    "sZeroRecords": "Sua lixeira está vazia",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
                    "sInfoEmpty": "Exibindo 0 a 0 de 0 registros",
                    "sInfoFiltered": "(filtered from _MAX_ total records)"
            }
        });
   }

</script>