<% content_for :head do%>

  <%= javascript_include_tag :all, :recursive => true %>
  <%= stylesheet_link_tag 'droppedItems/note.css' %>
  <%= stylesheet_link_tag 'index.css' %>
  <%= stylesheet_link_tag 'contextMenu/jquery.contextmenu' %>

<% end %>

<script type="text/javascript">

   $().ready(function(){

     initialization();

     function loadObjects(){
         <% @note.each do |n| %>
           <%="NewNote( #{n.posX}, #{n.posY}, \"#{n.conteudo.gsub("\n", "<br />")}\", #{n.width}, #{n.height}, false, true, \"#{n.UUID}\" );"%>
         <% end %>
      }

      window.setTimeout(loadObjects(),4000);
           
   });

</script>

<div id="odTableTop">
  <div id="header">
     LOGO
  </div>


  <div id="right_menu">
    <a id="note" class="menuItem" href="#">&nbsp;</a>
    <a id="cal" class="menuItem" href="#"></a>
    <a id="address" class="menuItem" href="#"></a>
    <a id="text" class="menuItem" href="#"></a>
    <a id="trash" class="menuItem" href="#"></a>
  </div>

</div>
