<%  content_for :head do %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css" />
  <%=  stylesheet_link_tag 'welcome'%>
  <%=  stylesheet_link_tag 'piro/style/style', :media => 'screen', :title => 'black'%>
  <%=  javascript_include_tag '3rd party/jquery/piro/pirobox.js'%>

<%  end %>
<div id="welcome">
  <div id="cabecalho">
    <div id="left">
      <div id="logo"></div>
    </div>
    <div id="mid">
    </div>
    <div id="right">
      <div id="login">
        <div id="content">
          <% form_tag :controller =>"usuarios/login" do %>
          <p><label>Login</label><%=text_field("login","login", :class => "input")%></p>
          <p><label>Senha</label><%=password_field("login","senha", :class => "input")%></p>
          <p style="float:left; padding-right:15px; padding-top:10px;">
            <%= submit_tag "Entrar", :style => "width:80px;" %>
          </p>
          <p style="float:left;">
            <a href="#" id="lkNovaConta" class="pirobox" onfocus="setNovaConta();" onmouseover="setNovaConta();">Nova conta?</a> <br />
            <a href="#" id="lkEsqueceuConta" class="pirobox"  onfocus="setEsqueceuConta();" onmouseover="setEsqueceuConta();">Esqueceu a senha?</a>
          </p>
          <% end%>
        </div>
      </div>
    </div>
  </div>

    <div id="corpo">
      <div id="left">
      </div>
      <div id="mid">
        
      </div>
      <div id="right">
      </div>
    </div>

    <div id="rodape">
      <div id="left">
      </div>
      <div id="mid">
      </div>
      <div id="right">
      </div>
    </div>
</div>


  <script>
    $().ready(function (){
      try{
        

          $('#login').fadeIn(1000, function(){
              $('#login_login').focus();
          });
          
          novaConta = '<%=(render "usuarios/novaConta").gsub("\n", "<br />") %>';
          esqueceuConta = '<%=(render "usuarios/esqueceuConta").gsub("\n", "") %>';

      }catch(E){
        raiseException(E);
      }

           
    });

     function setNovaConta(){
       setPirobox(novaConta, function(){
                                  $('#usuario_nome').focus();
                             });
     }

     function setEsqueceuConta(){
        setPirobox(esqueceuConta, function(){
                                    $('#esqueceu_login').focus();
                                  });
      }

  </script>