<%  content_for :head do %>
  <%=  stylesheet_link_tag 'welcome'%>
  <%=  stylesheet_link_tag '3rd party/pirobox/pirobox', :media => 'screen', :title => 'black'%>
  <%=  javascript_include_tag '3rd party/jquery/piro/pirobox.js'%>
  <%=  javascript_include_tag '3rd party/jquery/stepcarousel.js'%>
  
<% end %>

<div id="welcome">
  <div id="cabecalho">
    <div id="left">
      <div id="logo"></div>
    </div>
    <div id="mid">
    </div>
    <div id="right">
      <div id="login">
        <div id="content">
          <% form_tag :controller =>"login" do %>
          <p><label>Login</label><%=h text_field("login","login", :class => "input")%></p>
          <p><label>Password</label><%=h password_field("login","senha", :class => "input")%></p>
          <p style="float:left; padding-right:15px; padding-top:10px;">
            <%= submit_tag "Sign in", :style => "width:80px;" %>
          </p>
          <p style="float:left;">
            <a href="#" id="lkNovaConta" class="pirobox" onfocus="setNovaConta();" onmouseover="setNovaConta();">Sign up?</a> <br />
            <a href="#" id="lkEsqueceuConta" class="pirobox"  onfocus="setEsqueceuConta();" onmouseover="setEsqueceuConta();">Forgot your password?</a>
          </p>
          <% end%>
        </div>
      </div>
    </div>
  </div>

    <div id="corpo">
      <div id="left">
      </div>

      <div id="mid">
          <div id="mygallery" class="stepcarousel">
          <div class="belt">

          <div class="panel">
            <h1>Hello! Welcome to the OfficeDesk.</h1>
            <h2> - What is Office Desk?</h2>
            <p>OffDesk is a FREE and online area, for you write and post reminds just like in a REAL desk!</p>
          </div>

          <div class="panel">
            <h2> - Is it a ticket manager or any stuff like that?</h2>
            <p>Absolutely no! Our pourpose is a friendly area for organize yours reminds,</p>
            <p>there is NO bunch of manuals, or "best practices to...". OffDesk is just like your home desk,</p>
            <p>You take a piece of paper, write and stick where you want!</p>
          </div>

          <div class="panel">
            <h2>I wanna a quick test!</h2>
            <p>If you don't wanna create a FREE account to test it, NO PROBLEM!
            	<a id="log_as_free_account" href="#">Click here</a> to log with a test shared account</p>
          </div>

          <div class="panel">
            <h2> - And what about new features?</h2>
            <p>We are working hard to develop news features, like calendar, note books, agenda, shared tasks and much more.</p>
            <p>Our team is waiting for suggestions, tips or any kind of FEEDBACK!</p>
            <p>Feel free to talk to us, we are really waiting for <a href="#">contact</a>. :)</p>
          </div>

          <div class="panel">
            <h2> - Ok, Ok... but isn't it an Office desk, for business?</h2>
            <p>Yeah, it is! But not now. We are developing some feature interesting to compannies like financy.</p>
            <p>For now one we are totaly focused on home users, for personal purposes! ;)</p>
          </div>

          </div>
          </div>

          <p id="mygallery-paginate" style="width: 640px; text-align:center;">

            <img src="<%= image_path "welcome/opencircle.png" %>"
                 data-over="<%= image_path "welcome/graycircle.png" %>"
                 data-select="<%= image_path "welcome/closedcircle.png" %>"
                 data-moveby="1" />
          </p>
      </div>
      
      <div id="right">
      </div>
    </div>

    <div id="rodape">
      <div id="left">
      </div>
      <div id="mid">
      </div>
      <div id="right">
      </div>
    </div>
</div>
  <script>
    novaConta = '<%= (render "usuarios/nova_conta").gsub("\n", "<br />") %>';
    esqueceuConta = '<%= (render "usuarios/esqueceu_conta").gsub("\n", "") %>';
  </script>  
  
  <script>
    $().ready(function (){
      try{
        

          $('#login').fadeIn(1500, function(){
              $('#login_login').focus();
          });
                   

      }catch(E){
        raiseException(E);
      }

           
    });


    stepcarousel.setup({
            galleryid: 'mygallery', //id of carousel DIV
            beltclass: 'belt', //class of inner "belt" DIV containing all the panel DIVs
            panelclass: 'panel', //class of panel DIVs each holding content
            autostep: {enable:false, moveby:1, pause:3000},
            panelbehavior: {speed:500, wraparound:false, wrapbehavior:'slide', persist:true},
            defaultbuttons: {enable: false, moveby: 1, leftnav: [], rightnav: []},
            statusvars: ['statusA', 'statusB', 'statusC'], //register 3 variables that contain current panel (start), current panel (last), and total panels
            contenttype: ['inline'] //content setting ['inline'] or ['ajax', 'path_to_external_file']
    });
   


     function setNovaConta() {
       setPirobox(novaConta,
                    function(){
                       $('#usuario_nome').focus();
                    }
                  );
     }

     function setEsqueceuConta() {
        setPirobox(esqueceuConta, function(){
                                    $('#esqueceu_login').focus();
                                  });
      }

  </script>
